.contmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.adivinanza{
    
    padding: 10px;
}
.adivinanza-input{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.adivinanza-input2{
    -webkit-transition-duration: 0.4s; /* Safari */
    border-radius: 10px;
    transition-duration: 0.4s;
}

.adivinanza-input2:hover {
    background-color: #cecccc; /* Green */
    color: white;
}
h2{
    color: #ffffff;
}