body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e1e1;
    font-family: Lato, sans-serif;
}

.contenedor{
    background-color: rgb(248, 248, 248);
    width: 400px;
    height: 600px;
    border: 2px solid rgb(218, 217, 217);
  
}

#form_login{
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    margin-top: 20px;
    height: 150px;
    border-radius: 75px;
}

.txt{
    
}

.form_login{
   
    
}

.txtus, .txtpa, .cap{
    padding: 8px 50px;
    background: #ffffff;
    color: black;
   
    border: 2px solid rgb(218, 217, 217);
}

.botones, .captcha{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.env{
    background-color: #5c5c5c;
    padding: 10px 120px;
    margin-top: 30px;
}

.pusu, .ppass{
    margin: 15px 20px 20px 30px;
    color: #5c5c5c;
}

h5{
    color: #5c5c5c;
    text-align: center;
    justify-content: center;
    align-items: center;
}

